*{
    margin: 0 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

.container{
    max-width: 425px;
    margin: 0 auto;
}

.main-header{
    background-image: url(../images/header&footer/espacio.jpg);
}

.main-nav{
    overflow: hidden;
    background-color: transparent;
    padding: 5px;
}

img.logo-pl{
    width: 20px;
}

a{
    display: block;
    float: left;
    line-height: 30px;
}

.toggle-nav{
    float: right;
}

.presentacion{
    color: white;
    background-image: url(../images/header&footer/espacio.jpg);
    text-align: center;
}

.carrete{
    width: 100%;
    overflow: hidden;
    padding: 15px;
}

.producto{
    float: left;
    width: 30%;
}

.producto:nth-child(2){
    margin: 0% 5%;
}

.producto img, .producto h2{
    width: 100%;
}

.producto h2{
    font-size: 1em;
}

.presentacion img.neptuno{
    display: block;
    width: 80px;
}

.main-footer{
    
}




