/* ========== GENERAL CONFIGURATIONS (start) ========== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/* ========== GENERAL CONFIGURATIONS (end) ========== */

/* --------------------------------------------------------------------------------------------------------------------------------- */

/* ========== STYLES ANI (start) ========== */

/* HOME STYLES */

.md-menu{
    display: none;
}

/* index-presentation */

.presentation{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #343A40;
    color: white;
    padding-top: 20px;
}

.presentation h3{
    font-size: 21px;
    color: white;
}

.presentation p{
    margin-bottom: 30px;
}

.neptuno{
    width: 150px;
}

.search-bar{
    border-radius: 30px;
    padding: 5px 5px;
    background-color: white;
    margin-bottom: 30px;
}

.search-bar input{
    border: none;
    padding-left: 10px;
}

.search-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.books{
    width: 100%;
    padding: 0 15px;
}

/* section titles in idex */

.index-titles{
    margin-top: 30px;
    margin-bottom: 0;
}

/* footer */

.suscription-sm{
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.suscription-info input{
    border-radius: 30px;
    padding: 5px 5px 5px 10px;
    background-color: white;
    border: none;
    margin-bottom: 15px;
}

.suscription-info button{
    border-radius: 30px;
}

.main-footer{
    background-color: #343A40;
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo{
    display: none;
}

.footer-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0;
}

.footer-info li{
    margin-bottom: 10px;
}

.social-media{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;    
}

.social-media a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.social-media a i{
    width: 35px;
    height: 35px;
    padding: 10px;
    color: white;
    border-radius: 50%;   
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.fab.fa-twitter{
    background-color: #1DA1F2;
}

.fab.fa-instagram{
    background-color: #E1306C;
}

.fab.fa-facebook-f{
    background-color: #4267B2;    
}

/* slides */

.slide-container{
    margin-top: 30px;
}

.slide-container:last-child{
    margin-bottom: 30px;
}

.uk-position-center-left-out svg, .uk-position-center-right-out svg{
    color: black;
}

.uk-card-media-top img{
    width: 100%;
}

.uk-card-body{
    padding: 20px 0px;
    text-align: center;
}
/* banner title */

.banner-title{
    display: flex;
    justify-content: space-around;   
    padding: 15px 0; 
}

.banner-title div{
    position: relative;
}

.bg-banner{
    width: 100%;    
}

.banner-title div h4{
    position: absolute;
    top: 10%;
    left: 15%;
}

.banner-title div h6{
    font-size: 12px;
    position: absolute;
    top: 55%;
    left: 20%;
}

.decorative-img{
    display: none;
}

/* search */

.product img{
    width: 100%;
}

@media (min-width: 410px){

    .suscription-info{
        border-radius: 30px;
        padding: 5px 5px;
        background-color: white;
    }
    
    .suscription-info input{
        border: none;
        padding-left: 10px;
        margin-bottom: 0px;
    }
    
    .suscription-info button{
        border-radius: 30px;
    }    
}



@media (min-width: 768px){

    .footer-logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .md-menu{
        display: inline;
    }

    .sm-menu{
        display: none;
    }

    .banner-title div h4{
        position: absolute;
        top: 35%;
        left: 15%;
    }
    
    .banner-title div h6{
        font-size: 12px;
        position: absolute;
        top: 55%;
        left: 20%;
    }

    .decorative-img{
        display: inline-block;
        position: absolute;
        top: 10%;
        right: 2%;
        width: 20%;
    }
}


/* ========== STYLES ANI (end) ========== */

/* --------------------------------------------------------------------------------------------------------------------------------- */





/* ========== STYLES CARLI (start) ========== */

.menu-categorias {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
}



.navegacion-1 ul {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navegacion-2 ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navegacion-3 ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navegacion ul li {
    padding: 0 15px;
}

.section-productos-novedades {
    display: flex;
    flex-direction: row;
}

.novedades {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.novedades h2 {
    margin-bottom: 5%;
    font-size: 35px;
    margin-top: 15px;
    font-weight: bold;
}

.producto-novedades {
    display: flex;
    flex-direction: row;
}

.caja-imagen {
    width: 100%;
}

.descuentos {
    margin-top: 5% ;
    margin-bottom: 5%;
    font-size: 35;
    font-weight: bold;
}

.descuentos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.descripcion-producto {
    margin-left: 15px;
}

.nombre-libro {
    font-size: 25px;
    font-weight: bold;
}

.descripcion-producto p {
    font-size: 15px;
}

.descripcion-producto2 {
    margin-top: 15px;
}

.descripcion-producto2 h3 {
    font-size: 20px;
    font-weight: bold;
}

.descripcion-producto2 p {
    font-size: 15px;
} 

.descuentos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.productos-descuento {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.precio-descuento {
    font-size: 25px;
    color: #C60000;
    text-decoration: line-through;
    margin-right: 10px;
}

.precios {
    display: flex;
    flex-direction: row;
}

.pagination {
    justify-content: center;
    margin-bottom: 30px;
}

.productos-categoria h2 {
    font-size: 25px;
}

.productos-categoria h3 {
    font-size: 15px;
}

.productos-categoria {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.items {
    padding: 0;
    margin-bottom: 0;
}

.boton-mini {
    border-radius: 100%;
    border-style: none;
    background-color: #E1306C;
    color: white;
    padding: 10px;
    margin: 5px;
    margin-top: 0;
    margin-bottom: 20px;
}

@media (max-width: 426px) {
    .menu-categorias {
        display: none;
    }
    .productos-descuento {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 15px;
    }

    .productos-descuento {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 15px;
    }

    .productos-categoria {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .productos-categoria img {
        max-width: 50%;
    }
    
    .section-productos-novedades {
        display: flex;
        flex-direction: column;
    }
    
    .descripcion-producto p {
        font-size: 9px;
    }

    .cuerpo {
        margin-left: 10px;
    }
    
} 

@media (max-width: 769px) {
    .menu-categorias {
        display: none;
    }

    .section-productos-novedades {
        display: flex;
        flex-direction: column;
    }

    .productos-descuentos {
        max-width: 50%;
    }

    .productos-categoria .product {
        margin-right: 20px;
    }
}

/* ============Styles detail===========*/

.caja-producto {
    display: flex;
    flex-direction: row;
}

.sobre-la-autora img {
    float: left;
    border-radius: 50%;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.audiobook-ebook {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.precios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
}

.menu-breadcrumb {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 15px;
}

.menu-breadcrumb .navegacion ul {
    display: flex;
}

.menu-breadcrumb .navegacion ul li {
    padding: 0 5px;
}

.subcaja2-producto {
    margin-left: 10px;
}

.subcaja2-producto h2 {
    font-size: 45px;
    font-weight: bold;
}

.subcaja2-producto p {
    font-size: 30px;
}

.audiobook-ebook p {
    font-size: 15px;
}

.border-primary {
    margin: 5px;
}

.card-title {
    font-size: 30px;
}


.boton {
    border-style: none;
    background-color: #E1306C;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.subcaja1-producto p {
    font-size: 25px;
    padding: 0
}

.sobre-la-autora {
    margin: 50px;
}

.sobre-la-autora h3 {
    font-size:25px;
}

.sobre-la-autora p {
    font-size:20px;
}


@media (max-width: 426px) {
    .menu-breadcrumb {
        display: none;
    }
    .menu-breadcrumb {
        display: none;
    }
    .subcaja2-producto {
        margin-top: 20px;
    }

    .caja-producto {
        display: flex;
        flex-direction: column;
    }

    .subcaja1-producto {
        margin-top: 20px;
    }
    
} 


/* ========== STYLES CARLI (end) ========== */

/* --------------------------------------------------------------------------------------------------------------------------------- */

/* ========== STYLES MARTIN (start) ========== */

/* REGISTER STYLES */


.register{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(201, 76, 76, 0.3);
    padding: 30px 0;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
}

h1.btn.title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 100%; 
    width: 50%;
}

.form-control{
    border-radius: 20px;
}

.cuenta{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: red;
}

/* LOGIN STYLES */

.login{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(201, 76, 76, 0.3);
    padding: 30px 0;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
}
.crear{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: red;
}

@media(min-width:410px){
    .formdiv{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .login{  
        height: auto; 
        width: 80%;
        margin-top: 5%;
    }
    .register{
        height: auto; 
        width: 80%;
        margin-top: 5%;
    }
    
}

@media(min-width:768px){   
    .formdiv{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .login{  
        height: auto; 
        width: 40%;
        margin-top: 5%;
    }
    .register{
        height: auto; 
        width: 40%;
        margin-top: 5%;
    }
}

/* CART STYLES */
.producto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    border-bottom: 1px solid black;
}

.compras{
    margin-top: 5%;
}

.infocompra{
    display: flex;
    flex-direction: column;
}
 
.titulo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 5%;
    width: 100%;
}

.infocantidad{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: flex-start;
    width: 28%;
}
.cantidad{
    align-self: flex-end;
}

.precio{
    margin-left: 30px;
}

.contador{
    border-radius: 20px;
    width: 30%;
    padding-left: 20px;   
}

.infototal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.total{
    margin-right: 10%;
}

/* ========== STYLES MARTIN (end) ========== */

/* --------------------------------------------------------------------------------------------------------------------------------- */
