/* ========== GENERAL CONFIGURATIONS (start) ========== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/* ========== GENERAL CONFIGURATIONS (end) ========== */

/* --------------------------------------------------------------------------------------------------------------------------------- */

/* ========== STYLES ANI (start) ========== */

/* HOME STYLES */

.md-menu{
    display: none;
}

/* index-presentation */

.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #343A40;
    color: white;
    padding-top: 20px;
}

.presentation h3{
    font-size: 21px;
}

.presentation p{
    margin-bottom: 30px;
}

.neptuno{
    width: 150px;
}

.search-bar{
    border-radius: 30px;
    padding: 5px 5px;
    background-color: white;
    margin-bottom: 30px;
}

.search-bar input{
    border: none;
    padding-left: 10px;
}

.search-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.books{
    width: 100%;
}

/* footer */

.suscription-sm{
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.suscription-info input{
    border-radius: 30px;
    padding: 5px 5px 5px 10px;
    background-color: white;
    border: none;
    margin-bottom: 15px;
}

.suscription-info button{
    border-radius: 30px;
}

.main-footer{
    background-color: #343A40;
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo{
    display: none;
}

.footer-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0;
}

.footer-info li{
    margin-bottom: 10px;
}

.social-media{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;    
}

.social-media a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.social-media a i{
    width: 35px;
    height: 35px;
    padding: 10px;
    color: white;
    border-radius: 50%;   
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.fab.fa-twitter{
    background-color: #1DA1F2;
}

.fab.fa-instagram{
    background-color: #E1306C;
}

.fab.fa-facebook-f{
    background-color: #4267B2;    
}

/* slides */

.slide-item{
    padding: 50px;

}

.carousel-item img{
    width: 200px;
}




/* search */

.product img{
    width: 100%;
}

@media (min-width: 410px){

    .suscription-info{
        border-radius: 30px;
        padding: 5px 5px;
        background-color: white;
    }
    
    .suscription-info input{
        border: none;
        padding-left: 10px;
        margin-bottom: 0px;
    }
    
    .suscription-info button{
        border-radius: 30px;
    }    
}



@media (min-width: 768px){

    .footer-logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .md-menu{
        display: inline;
    }

    .sm-menu{
        display: none;
    }



    
}


/* ========== STYLES ANI (end) ========== */

/* --------------------------------------------------------------------------------------------------------------------------------- */





/* ========== STYLES CARLI (start) ========== */

/*.presentacion-seccion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.presentacion-imagen {
    width: 20%;
    float: right;
}

.nav-categoria {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}*/

/* PRODUCTS STYLES */

/* ========== STYLES CARLI (end) ========== */

/* --------------------------------------------------------------------------------------------------------------------------------- */

.presentacion-imagen {
    float: right;
}


/* ========== STYLES MARTIN (start) ========== */

/* REGISTER STYLES */


.register{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(201, 76, 76, 0.3);
}

h1.btn.title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000%;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 100%; 
    width: 50%;
}

.form-control{
    border-radius: 20px;
}

.cuenta{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: red;
}
@media(min-width:768px){

.formdiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    
.register{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(201, 76, 76, 0.3);
    width: 30%;
}
    
}
/* LOGIN STYLES */

.login{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(201, 76, 76, 0.3);
}

h1.btn.title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 100%; 
    width: 50%;
    
}


.crear{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: red;
}

@media(min-width:768px){

    .formdiv{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    
    .register{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(201, 76, 76, 0.3);
        width: 30%;
    }
    .login{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(201, 76, 76, 0.3);
        width: 30%;
    }


}

/* CART STYLES */
.producto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    border-bottom: 1px solid black;
}

.infocompra{
    display: flex;
    flex-direction: column;
}
 
.titulo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.infocantidad{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: flex-start;
    width: 28%;
}
.cantidad{
    align-self: flex-end;
}

.precio{
    margin-left: 30px;
}

.contador{
    border-radius: 20px;
    width: 30%;
    padding-left: 20px;   
}

.infototal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

/* ========== STYLES MARTIN (end) ========== */

/* --------------------------------------------------------------------------------------------------------------------------------- */
