/* ========== GENERAL CONFIGURATIONS (start) ========== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.container{
    padding-top: 15px;
    padding-bottom: 15px
}

/* ========== GENERAL CONFIGURATIONS (end) ========== */

/* --------------------------------------------------------------------------------------------------------------------------------- */

/* ========== STYLES ANI (start) ========== */

/* HOME STYLES */

/* index-presentation */

.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #343A40;
    color: white;
    padding-top: 20px;
}

.presentacion h2{
    margin-bottom: 15px;
}

.presentacion p{
    margin-bottom: 20px;

}

.neptuno{
    width: 150px;
}

.search-bar{
    border-radius: 30px;
    padding: 5px 5px;
    background-color: white;
}

.search-bar input{
    border: none;
    padding-left: 10px;
}

.search-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.books{
    width: 100%;
}

/* footer */

.suscription-sm{
    background-color: grey;
}

.footer-info{
    background-color: black;
    display: flex;
    justify-content: space-around;
}

/* search */

.product img{
    width: 100%;
}


/* ========== STYLES ANI (end) ========== */

/* --------------------------------------------------------------------------------------------------------------------------------- */





/* ========== STYLES CARLI (start) ========== */

/* PRODUCTS STYLES */

/* ========== STYLES CARLI (end) ========== */

/* --------------------------------------------------------------------------------------------------------------------------------- */





/* ========== STYLES MARTIN (start) ========== */

/* LOGIN AND REGISTER */

/* ETC. */

/* ========== STYLES MARTIN (end) ========== */

/* REGISTER STYLES */


.register{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(201, 76, 76, 0.3);
}

h1.btn.title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000%;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 100%; 
    width: 50%;
}

.form-control{
    border-radius: 20px;
}

.cuenta{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: red;
}
@media(min-width:768px){

.formdiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    
.register{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(201, 76, 76, 0.3);
    width: 30%;
}
    
}
/* LOGIN STYLES */
.login{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(201, 76, 76, 0.3);
}

h1.btn.title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 100%; 
    width: 50%;
    
}


.crear{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: red;
}

@media(min-width:768px){

    .formdiv{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    
    .register{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(201, 76, 76, 0.3);
        width: 30%;
    }
    .login{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(201, 76, 76, 0.3);
        width: 30%;
    }


}

/* CART STYLES */
.producto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    border-bottom: 1px solid black;
}

.infocompra{
    display: flex;
    flex-direction: column;
}
 
.titulo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.infocantidad{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: flex-start;
}

.contador{
    border-radius: 20px;
    width: 30%;
    padding-left: 2px
    
}
/* --------------------------------------------------------------------------------------------------------------------------------- */
