<div class = "row banner-title">
    <div class = "col-12">
        <h4><%= title %></h4>
        <h6><%= route %> </h6>
        <img class = "bg-banner" src="<%= bannerImg %>" alt="">
        <img class = "decorative-img" src="<%= decoImg %> " alt="">
    </div>

</div>
