<div class = "row banner-title">
    <div class = "col-12">
        <h4><%= title %></h4>
        <h6><%= route %> </h6>
        <img src='/images/banner-title/banner-title-1.png' alt="">
        <img src="" alt="">
    </div>

</div>
