<footer class = "main-footer">
    <div>
        <img src="images/header&footer/planeta.png" alt="logo-pl" class = "logo-pl">
    </div>

    <div>
        <ul>
            <li>
                <a href="">Sobre Nosotros</a>                
            </li>
            <li>
                <a href="">Contáctanos</a>
            </li>
            <li>
                <a href="">Términos y Condiciones</a>
            </li>
            <li>
                <a href="">FAQ's</a>
            </li>
        </ul>
    </div>
    
    <div>
        <a href="http://twitter.com/planeta_libro">
            <i class="fab fa-twitter"></i>
            <span>Twitter</span>
        </a>
        <a href="http://instagram.com/planeta_libro">
            <i class="fab fa-instagram"></i>
            <span>Instagram</span>
        </a>
        <a href="http://facebook.com/planeta_libro">
            <i class="fab fa-facebook-f"></i>
            <span>Facebook</span>
        </a>
    </div>

    <div>
        <h2>Suscríbete a nuestra Newsletter</h2>
        <p>Déjanos tu email y se parte de este planeta</p>
        <div>
            <form action="" method = "POST">
                <input type="email" name = "email" placeholder = "Email">
                <button type="submit" class = "btn btn-info">SUSCRIBIRSE</button>
            </form>
            
        </div>        
    </div>     
</footer>