<header>

    <a href="/" class = "logo">
        <img src="images/header&footer/planeta.png" alt="logo-pl" class = "logo-pl">
        <span class = "planeta-lector">Planeta Lector</span>
    </a>

    <nav class = "main-nav">
        <ul>
            <li>
                <a href="/products">LIBROS</a>
            </li>
            <li>
                <a href="">NOVEDADES</a>
            </li>
            <li>
                <a href="/users/cart"><i class="fas fa-shopping-bag"></i></a>
            </li>
            <li>
                <i class="fas fa-user"></i>
            </li>
        </ul>
    </nav>
       
    <a href="" class="toggle-nav">
        <span class="fa fa-bars"></span>
    </a>

    
         

</header>



