<header>

    <a href="/" class = "logo">
        <img src="images/header&footer/planeta.png" alt="logo-pl" class = "logo-pl">
        <span class = "planeta-lector">Planeta Lector</span>
    </a>

    <nav class = "main-nav">
        <ul>
            <li>
                <a href="/products">LIBROS</a>
            </li>
            <li>
                <a href="">NOVEDADES</a>
            </li>
            <li>
                <a href="/users/cart"><i class="fas fa-shopping-bag"></i></a>
            </li>
            <li>

                
                <button class = 'btn' type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fas fa-user"></i>
                </button>
                
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <ul>
                            <li><a href="/users/login">Iniciar sesion</a></li>
                            <li><a href="/users/register">Registrarse</a></li>
                        </ul>
                    </div>
                </div> 

            </li>
        </ul>
    </nav>

    <div class = "collapse-menu">
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <span class="fa fa-bars"></span>
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <ul>
                    <li><a href="/products">LIBROS</a></li>
                    <li>NOVEDADES</li>
                    <li><a href="/users/cart">Mi Carrito</a></li>
                    <li><a href="/users/login">Iniciar sesion</a></li>
                    <li><a href="/users/register">Registrarse</a></li>
                </ul>
            </div>
        </div>
    </div>
    

    
         

</header>



