<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: '¡Pago exitoso!'}) %>
<body>
    <%- include('../partials/header', {bgColor: "bg-dark", navbarColor: "navbar-dark"})  %> 
    <div class='container'>
        <div class='payment-image'>
            <img src="/images/paymentStatus/undraw_order_confirmed_aaw7.svg" alt="failure-image">
        </div>
        <h2 style="text-align: center; margin-bottom: 60px">¡Tu pago fue realizado exitosamente!</h2>

    </div>
    <%- include('../partials/footer')  %> 
    <%- include('../partials/scripts-js')  %> 
    
</body>
</html>