<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: 'Nombre del Producto!!'}) %>
<body>
    <% include('partials/header', {bgColor: "bg-light", navbarColor: "navbar-light"}) %> 
    <h2>estamos en el detail</h2>
    
</body>
</html>