<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: 'Inicio'}) %>

    <body>
        <div class = "container">

            <%- include('partials/header') %>        

            <div class = "presentacion">
                <p>Libros en todos sus formatos.</p>
                <p>¡De bibliófilos para bibliófilos!</p>
                <form action="/search" method = "GET">
                    <input type="keywords" name = "busqueda" placeholder = "Search">
                    <button type="submit" class = "btn btn-info">Search</button>
                </form>
                <div>
                    <img src="images/header&footer/neptuno.png" alt="" class = "neptuno">
                </div>              
                
            </div>        



            <div class = "products">

                <div class = "slide">
                    <h2>Isaac Asimov</h2>
                <section class = "carrete">
                    <article class = "producto">
                        <img src="" alt="">
                        <h2></h2>
                    </article>
                    <article class = "producto">
                        <img src="" alt="">
                        <h2></h2>
                    </article>
                    <article class = "producto">
                        <img src="" alt="">
                        <h2></h2>
                    </article>
                </section>
                </div>

            </div>

            <h2>15 libros de Suspenso</h2>
            <section class = "carrete">
                <article class = "producto">
                    <img src="" alt="">
                    <h2></h2>
                </article>
                <article class = "producto">
                    <img src="" alt="">
                    <h2></h2>
                </article>
                <article class = "producto">
                    <img src="" alt="">
                    <h2></h2>
                </article>
            </section>

            <h2>Introduccion a Virginia Woolf</h2>
            <section class = "carrete">
                <article class = "producto">
                    <img src="" alt="">
                    <h2></h2>
                </article>
                <article class = "producto">
                    <img src="" alt="">
                    <h2></h2>
                </article>
                <article class = "producto">
                    <img src="" alt="">
                    <h2></h2>
                </article>
            </section>

            <h2>Para leer en la cuarentena</h2>
            <section class = "carrete">
                <article class = "producto">
                    <img src="" alt="">
                    <h2></h2>
                </article>
                <article class = "producto">
                    <img src="" alt="">
                    <h2></h2>
                </article>
                <article class = "producto">
                    <img src="" alt="">
                    <h2></h2>
                </article>
            </section>

            <%- include('partials/footer') %>
        </div>

        <%- include('partials/scripts-js') %>
        
    </body>
</html>