<!DOCTYPE html>
<html lang="en">

<body>
    <div class = "container">

        <header class = "main-header">

            <nav class = "main-nav">

                <a href="index.html" class = "logo">
                    <img src="images/header&footer/planeta.png" alt="logo-pl" class = "logo-pl">
                    <span class = "planeta-lector">Planeta Lector</span>
                </a>

                <a href="#" class="toggle-nav">
                    <span class="fa fa-bars"></span>
                </a>

            </nav>

        </header>

        <div class = "presentacion">
            <p>Libros en todos sus formatos.</p>
            <p>¡De bibliofilos para bibliofilos!</p>
            <input type="keywords" placeholder = "Search">
            <input type="button" class = "boton-busqueda" value = "Search">
            <img src="images/header&footer/neptuno.png" alt="" class = "neptuno">
        </div>

        
        <h2>Isaac Asimov</h2>
        <section class = "carrete">
            <article class = "producto">
                <img src="images/slides/home/1/485461.jpg" alt="">
                <h2>Lorem ipsum dolor sit amet.</h2>
            </article>
            <article class = "producto">
                <img src="images/slides/home/1/522177.jpg" alt="">
                <h2>Lorem ipsum dolor sit amet.</h2>
            </article>
            <article class = "producto">
                <img src="images/slides/home/1/523716.jpg" alt="">
                <h2>Lorem ipsum dolor sit amet.</h2>
            </article>
        </section>
        <h2>15 libros de Suspenso</h2>
        <section class = "carrete">
            <article class = "producto">
                <img src="images/slides/home/2/590458.jpg" alt="">
                <h2></h2>
            </article>
            <article class = "producto">
                <img src="images/slides/home/2/651382.jpg" alt="">
                <h2></h2>
            </article>
            <article class = "producto">
                <img src="images/slides/home/2/664473.jpg" alt="">
                <h2></h2>
            </article>
        </section>
        <h2>Introduccion a Virginia Woolf</h2>
        <section class = "carrete">
            <article class = "producto">
                <img src="images/slides/home/3/extast182719_62d0a65fe63683ca491862f721810cfa0213cda0_cover.jpg" alt="">
                <h2></h2>
            </article>
            <article class = "producto">
                <img src="images/slides/home/3/extast371283_77b98a39684e8e97fe68e99c9859621d666f7872_cover.jpg" alt="">
                <h2></h2>
            </article>
            <article class = "producto">
                <img src="images/slides/home/3/extast479459_ae5b630ea6ca3a3587e304cc4fee39f484237043_cover.jpg" alt="">
                <h2></h2>
            </article>
        </section>
        <h2>Para leer en la cuarentena</h2>
        <section class = "carrete">
            <article class = "producto">
                <img src="images/slides/home/4/61c6f7ac993827c4572aa6459a5f9ee678a28616_9789877991437_cover.jpg" alt="">
                <h2></h2>
            </article>
            <article class = "producto">
                <img src="images/slides/home/4/673298.jpg" alt="">
                <h2></h2>
            </article>
            <article class = "producto">
                <img src="images/slides/home/4/675305.jpg" alt="">
                <h2></h2>
            </article>
        </section>

        <footer class = "main-footer">
            <h3>Sobre Nosotros</h3>
            <h3>Contactanos</h3>
            <h3>Terminos y Condiciones</h3>
            <h3>FAQ's</h3>

        </footer>
    </div>
    
</body>
</html>