<html>
    <body>
        <h1>Resultado</h1>
        <ul>
            <% for(let i = 0; i < resultados.length; i++) { %>
             <li>
                 <%= resultados[i].userName %>
             </li>
            <% } %>
        </ul>
    </body>
</html>